.pokemon_item_wrapper {
  display: flex;
  justify-content: center;
  background: url(../../img/vector-may-2021-33.jpg) no-repeat;
  background-size: cover;
  min-height: 84vh;
}

.pokemonContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px auto;
  min-height: 84vh;
  max-width: 1200px;
  width: 100%;
  background: rgba(252, 222, 74,0.45);
}